.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Info {
  margin: 50px auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

code, pre {
  background: #f2f2f2;
  font-family: monospace;
  margin: 15px auto;
  display: inline-flex;
  white-space: pre-line;
  border-radius: 3px;
  padding: 1rem;
  min-width: 400px;
}